/* PC */
@media (min-width: 64em) {}

/* Ipad */
@media (min-width: 46.25em) and (max-width: 64em) {
    .container {
        padding: 80px 60px;
    }
}

/* Mobile */
@media (max-width: 46.25em) {
    .navbar-header {
        position: absolute;
    }

    #myNavbar {
        float: left;
        width: 100%;
    }

    .nav li {
        display: block;
    }

    .navbar {
        overflow: hidden;
    }

    .nav {
        margin-top: 50px;
    }

    .icon_menu {
        position: absolute;
        top: 3px;
        right: 2px;
        display: block;
    }

    .icon_menu a {
        text-decoration: none;
    }

    .icon_menu a span {
        border-radius: 7px;
        padding: 8px 8px 10px 11px;
        font-size: 25px;
        display: block;
    }

    .icon_menu:hover a span {
        background-color: #353535;
    }

    .nav>li {
        padding: 0;
    }

    .nav>li>a {
        display: block;
        padding: 15px;
    }

    .dropdown-menu {
        position: initial;
    }

    .dropdown-menu>li a {
        padding: 20px;
        display: block;
    }

    .dropdown-menu > li {
        padding: 0;
    }

    .col-sm-4 {
        width: auto;
        float: initial;
    }

    .container {
        padding: 80px 20px;
    }

    .thumbnail {
        margin-bottom: 20px;
    }

    .col_full {
        width: auto !important;
    }

    .col_full > .row div {
        width: 100%;
    }

    .col_full > .row div button {
        width: 100%;
    }
    
}